<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature 1</title>
</head>

<body>
    <h1>Search for books by Genre</h1>
    <h2>Horror</h2>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        {% for book in horror %}
        <tr>
            <th>{{ book.isbn }}</th>
            <th>{{ book.bookName }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.genre }}</th>
            <th>{{ book.publisher }}</th>
        </tr>
        {% endfor %}
    </table>

    <h2>Fantasy</h2>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        {% for book in fantasy %}
        <tr>
            <th>{{ book.isbn }}</th>
            <th>{{ book.bookName }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.genre }}</th>
            <th>{{ book.publisher }}</th>
        </tr>
        {% endfor %}
    </table>

    <h1>List of Top 10 Sellers</h1>

    <h2>Top Sellers</h2>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Copies Sold</th>
        </tr>
        {% for book in topSellers %}
        <tr>
            <th>{{ book.isbn }}</th>
            <th>{{ book.bookName }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.genre }}</th>
            <th>{{ book.copiesSold }}</th>
        </tr>
        {% endfor %}
    </table>

    <h1>Search for books by Rating</h1>

    <h2>Books with a 3 rating and up</h2>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        {% for book in byRating %}
        <tr>
            <th>{{ book.isbn }}</th>
            <th>{{ book.bookName }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.genre }}</th>
            <th>{{ book.rating }}</th>
        </tr>
        {% endfor %}
    </table>

    <h1>Search for xbooks</h1>
    <h2>2 books</h2>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        {% for book in horror2 %}
        <tr>
            <th>{{ book.isbn }}</th>
            <th>{{ book.bookName }}</th>
            <th>{{ book.price }}</th>
            <th>{{ book.genre }}</th>
            <th>{{ book.publisher }}</th>
        </tr>
        {% endfor %}

</body>

</html>