<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekText Demo Group2</title>
</head>

<body>
    <h1><a href="{{ url_for('feature1') }}">Feature 1</a></h1>
    <h1><a href="{{ url_for('feature2') }}">Feature 2</a></h1>
    <h1><a href="{{ url_for('feature3') }}">Feature 3</a></h1>
    <h1><a href="{{ url_for('feature4') }}">Feature 4</a></h1>
    <h1><a href="{{ url_for('feature5') }}">Feature 5</a></h1>
    <h1><a href="{{ url_for('feature6') }}">Feature 6</a></h1>
</body>

</html>