<style>
    label {
        display: inline-block;
        width: 120px;
    }
</style>
<h1 style="text-align: center">Add a Author</h1>

<div style="width: 100%; text-align: center">
    <form action="" method="post">
        <li>
            <label for="first name">first name</label>
            <input type="text" maxlength="100" name="firstName" placeholder="First name of the author"/>
        </li>
        <li>
            <label for="last name">last name</label>
            <input type="text" maxlength="100" name="lastName" placeholder="Last name of the author"/>
        </li>
        <li>
            <label for="biography">biography</label>
            <input type="text" maxlength="100" name="biography" placeholder="biography of the author"/>
        </li>
        <li>
            <label for="publisher">publisher</label>
            <input type="text" maxlength="100" name="publisher" placeholder="publisher of the author"/>
        </li>
        <button type="submit">Create</button>
    </form>
</div>
