<!DOCTYPE html>
<html lang= "en">
<head>
<meta charset="UTF-8">
<title>Insert a new Review</title>
</head>
<body>
<form action="insert.php" method="post">
  <div>
    <label for="text1">The Isbn of your book: </label>
    <input type="text" name="text1">
  </div>
  <div>
    <label for="text2">Enter your User ID: </label>
    <input type="text" name="text2">
  </div>
  <div>
    <label for="text3">Enter your rating </label>
    <input type="text" name="text3">
  </div>
  <div>
    <label for="text4">Enter your review: </label>
    <input type="text" name="text4">
  </div>
  <div >
    <input type="submit" value="Submit Review">
  </div>
</form>
</body>
