<h1 style="text-align: center">Book Search</h1>
<div style="position:absolute; left:50%; margin-left:-150px">

    <form action="/search_book/" name="search_book" method="post">
        <li>
            <label for="">isbn</label>
            <input type="text" maxlength="100" name="isbn" placeholder="the isbn of the book">
        <button type="submit">Search</button>
        </li>
    </form>


    <form action="/search_author/" name="search_authors" method="post">
        <li>
            <label for="">author</label>
            <input type="text" maxlength="100" name="author" placeholder="the isbn of the book">
        <button type="submit">Search</button>
        </li>
    </form>
</div>